form {
    border: solid black 4px;
    border-radius: 1em;
    padding: 1em;
    margin: 0 auto;
    width: 400px;
}

.field {
    margin: 1em auto;
    input{
        width: 100%;
    }
}

textarea {
    width: 100%;
    height: 5em;
}

label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#bisous {
    margin-top: 1rem;
}