* {
    font-family: "Montserrat", serif;
}

/* CSS DU HEADER DE NAVIGATION */
#header {
    display: flex;
    align-items: center;
    margin: 1rem auto;
}

.logo-menu {
    margin: auto;
}

span.underline {
    border-bottom: 5px solid #025194;
}
span.underline:hover {
    border-bottom-color: #1C9CDA;
}

.menu {
    color: #025194;
    font-size: 25px;
    font-weight: bold;
    margin: 1.8rem;

    & a:visited {
        color: #025194;
    }
    & a:link {
        color: #025194;
    }
    & a {
        text-decoration: none;
    }
    & a:hover {
        color: #1C9CDA;
    }
}

.network {
    margin: auto;
    margin-left: 50px;
    padding: 0.5rem;

    & img{
        margin: 0.3rem;
    }
}

/* FIN CSS DU HEADER DE NAVIGATION */

/* CSS DE LA BANNIERE */
.banner {
    background-image: url(../../assets/images/bandeau-home.png);
    width: 100%;
    height: 562px;
    
    & div {
        display: flex;
        flex-direction: column;
        padding-left: 40%;
        padding-top: 5%;
    }
}

h1 {
    font-size: 80px;
    color: #025194;
    margin: 0;
    font-weight: 800;
}

.banner h2 {
    font-size: 50px;
    color: #025194;
    margin: 0;
}
/* FIN CSS DE LA BANNIERE */

#description {
    font-size: 25px;
    color: #025194;
    font-weight: bold;
    margin: 0;
}

#baseline {
    margin-top: 6%;
    font-weight: 800;
}

#baseline span {
    color: #fff;
    background-color: #1C9CDA;
    width: 0.8rem;
}

.presentation {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    height: 420px;
    align-items: center;
    margin: 2% auto;

    & h2 {
        text-align: center;
        color: #025194;
        font-size: 40px;
        font-weight: 500;
    }

    & p {
        text-align: justify;
        margin: 0 auto;
    }

    & button {
        font-size: 22px;
        font-weight: 800;
        background-color: #025194;
        color: #fff;
        padding: 1rem;
        border-radius: 1.9rem;
        border: none;
        margin-top: 93px;
        position: relative;

        & a {
            text-decoration: none;
        }
        & a:visited {
            color: #fff;
        }
        & a:link {
            color: #fff;
        }
    }

    & img {
        width: 10rem;
        position: relative;
        top: -98px;
        right: 431px;
    }

    & div {
        display: flex;
        justify-content: center;
    }
}

/* CSS DU FOOTER */
footer {
    background-color: #1C9CDA;
    display: flex;
    justify-content: start;
    height: 58px;
}

#logo-footer {
    padding: 0.4rem;
    margin-left: 17%;
    margin-right: 2%;
}

.menu-footer {
    align-content: center;
    color: white;
    margin: 0.5rem;
    & a {
        text-decoration: none;
    }
    & a:visited {
        color: #fff;
    }
    & a:link {
        color: #fff;
    }
}
/* FIN DU CSS DU FOOTER */