body {
    background: no-repeat center url(img/neko.gif);
}

.text {
    font-size: larger;
    font-weight: bolder;
}

.range {
    font-size: 40px ;
    font-weight: bolder;
    color: crimson ;
}
