body{
    background: url(img/neko.gif);
    background-position: center;
}
.text {
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: black;
}

.range {
    font-size: 40px ;
    font-weight: bolder;
    color: crimson ;
}
